// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@import "./personalizacion.scss";
/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #C10230;
  --ion-color-primary-rgb: 0, 60, 88;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #00354d;
  --ion-color-primary-tint: #1a5069;

  --ion-color-secondary: #06717e;
  --ion-color-secondary-rgb: 6, 113, 126;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #05636f;
  --ion-color-secondary-tint: #1f7f8b;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-recordatorio: #000000;
  --ion-color-no-data: #dcdcdc;
  --ion-color-no-data-rgb: 220, 220, 220;
  --ion-color-no-data-contrast: #3e3e3e;
  --ion-color-no-data-contrast-rgb: 62, 62, 62;
  --ion-color-no-data-shade: #c2c2c2;
  --ion-color-no-data-tint: #e0e0e0;

  /** header **/
  --ion-color-header: #C10230;
  --ion-color-header-rgb: 56, 128, 255;
  --ion-color-header-contrast: #ffffff;
  --ion-color-header-contrast-rgb: 255, 255, 255;
  --ion-color-header-shade: #3171e0;
  --ion-color-header-tint: #4c8dff;

  /** social-medias **/
  --ion-color-twitter: #00acee;
  --ion-color-facebook: #3b5998;
  --ion-color-instagram: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
  --ion-color-whatsapp: #00bb2d;
  --ion-color-youtube: #c4302b;

  /** alert-success **/
  --ion-color-alert-success: #c3e6cb;
  --ion-color-alert-success-rgb: 195, 230, 203;
  --ion-color-alert-success-contrast: #155724;
  --ion-color-alert-success-contrast-rgb: 21, 87, 36;
  --ion-color-alert-success-shade: #accab3;
  --ion-color-alert-success-tint: #c9e9d0;
  /** alert-warning **/
  --ion-color-alert-warning: #ffde76;
  --ion-color-alert-warning-rgb: 255, 222, 118;
  --ion-color-alert-warning-contrast: #5c4600;
  --ion-color-alert-warning-contrast-rgb: 92, 70, 0;
  --ion-color-alert-warning-shade: #e0c368;
  --ion-color-alert-warning-tint: #ffe184;
  /** alert-danger **/
  --ion-color-alert-danger: #ff8e98;
  --ion-color-alert-danger-rgb: 255, 142, 152;
  --ion-color-alert-danger-contrast: #630a12;
  --ion-color-alert-danger-contrast-rgb: 99 10 18;
  --ion-color-alert-danger-shade: #e07d86;
  --ion-color-alert-danger-tint: #ff99a2;

  /** SLIDES **/
  --ion-color-slide-primary: var(--ion-color-primary);
  --ion-color-slide-primary-rgb: 56, 128, 255;
  --ion-color-slide-primary-contrast: #ffffff;
  --ion-color-slide-primary-contrast-rgb: 255, 255, 255;
  --ion-color-slide-primary-shade: #3171e0;
  --ion-color-slide-primary-tint: #4c8dff;

  --ion-color-slide-secondary: var(--ion-color-primary-dark);
  --ion-color-slide-secondary-rgb: 61, 194, 255;
  --ion-color-slide-secondary-contrast: #ffffff;
  --ion-color-slide-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-slide-secondary-shade: #36abe0;
  --ion-color-slide-secondary-tint: #50c8ff;

  --ion-color-company-logo-rgb: 0, 86, 173;
  --ion-color-company-logo-contrast: #ffffff;
  --ion-color-company-logo-contrast-rgb: 255, 255, 255;
  --ion-color-company-logo-shade: #004c98;
  --ion-color-company-logo-tint: #1a67b5;

  /* BOTONES */

  --theme-btn-color-1: #2399e5;
  --theme-btn-color-2: #28a745;

  --ion-color-card-header: #f3f3f3;
}

.ion-color-card-header {
  --ion-color-base: var(--ion-color-card-header);
}

.ion-color-youtube {
  --ion-color-base: var(--ion-color-youtube);
}

.ion-color-twitter {
  --ion-color-base: var(--ion-color-twitter);
}

.ion-color-instagram {
  --ion-color-base: var(--ion-color-instagram);
}

.ion-color-whatsapp {
  --ion-color-base: var(--ion-color-whatsapp);
}

.ion-color-facebook {
  --ion-color-base: var(--ion-color-facebook);
}

.ion-color-header {
  --ion-color-base: var(--ion-color-header);
  --ion-color-base-rgb: var(--ion-color-header-rgb);
  --ion-color-contrast: var(--ion-color-header-contrast);
  --ion-color-contrast-rgb: var(--ion-color-header-contrast-rgb);
  --ion-color-shade: var(--ion-color-header-shade);
  --ion-color-tint: var(--ion-color-header-tint);
}

.ion-color-no-data {
  --ion-color-base: var(--ion-color-no-data);
  --ion-color-base-rgb: var(--ion-color-no-data-rgb);
  --ion-color-contrast: var(--ion-color-no-data-contrast);
  --ion-color-contrast-rgb: var(--ion-color-no-data-contrast-rgb);
  --ion-color-shade: var(--ion-color-no-data-shade);
  --ion-color-tint: var(--ion-color-no-data-tint);
}

.ion-color-alert-success {
  --ion-color-base: var(--ion-color-alert-success);
  --ion-color-base-rgb: var(--ion-color-alert-success-rgb);
  --ion-color-contrast: var(--ion-color-alert-success-contrast);
  --ion-color-contrast-rgb: var(--ion-color-alert-success-contrast-rgb);
  --ion-color-shade: var(--ion-color-alert-success-shade);
  --ion-color-tint: var(--ion-color-alert-success-tint);
}

.ion-color-alert-warning {
  --ion-color-base: var(--ion-color-alert-warning);
  --ion-color-base-rgb: var(--ion-color-alert-warning-rgb);
  --ion-color-contrast: var(--ion-color-alert-warning-contrast);
  --ion-color-contrast-rgb: var(--ion-color-alert-warning-contrast-rgb);
  --ion-color-shade: var(--ion-color-alert-warning-shade);
  --ion-color-tint: var(--ion-color-alert-warning-tint);
}

.ion-color-alert-danger {
  --ion-color-base: var(--ion-color-alert-danger);
  --ion-color-base-rgb: var(--ion-color-alert-danger-rgb);
  --ion-color-contrast: var(--ion-color-alert-danger-contrast);
  --ion-color-contrast-rgb: var(--ion-color-alert-danger-contrast-rgb);
  --ion-color-shade: var(--ion-color-alert-danger-shade);
  --ion-color-tint: var(--ion-color-alert-danger-tint);
}

.ion-color-slide-primary {
  --ion-color-base: var(--ion-color-slide-primary);
  --ion-color-base-rgb: var(--ion-color-slide-primary-rgb);
  --ion-color-contrast: var(--ion-color-slide-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-slide-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-slide-primary-shade);
  --ion-color-tint: var(--ion-color-slide-primary-tint);
}

.ion-color-slide-secondary {
  --ion-color-base: var(--ion-color-slide-secondary);
  --ion-color-base-rgb: var(--ion-color-slide-secondary-rgb);
  --ion-color-contrast: var(--ion-color-slide-secondary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-slide-secondary-contrast-rgb);
  --ion-color-shade: var(--ion-color-slide-secondary-shade);
  --ion-color-tint: var(--ion-color-slide-secondary-tint);
}
.ion-color-company-logo {
  --ion-color-base: var(--ion-color-company-logo);
  --ion-color-base-rgb: var(--ion-color-company-logo-rgb);
  --ion-color-contrast: var(--ion-color-company-logo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-company-logo-contrast-rgb);
  --ion-color-shade: var(--ion-color-company-logo-shade);
  --ion-color-tint: var(--ion-color-company-logo-tint);
}

@media (prefers-color-scheme: dark) {
  body {
    --ion-color-primary: #C10230;
    --ion-color-primary-rgb: 0, 60, 88;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #00354d;
    --ion-color-primary-tint: #1a5069;

    --ion-color-secondary: #06717e;
    --ion-color-secondary-rgb: 6, 113, 126;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #05636f;
    --ion-color-secondary-tint: #1f7f8b;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-alert-warning: #ffde76;
    --ion-color-alert-warning-rgb: 255, 222, 118;
    --ion-color-alert-warning-contrast: #5c4600;
    --ion-color-alert-warning-contrast-rgb: 92, 70, 0;
    --ion-color-alert-warning-shade: #e0c368;
    --ion-color-alert-warning-tint: #ffe184;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;

    --ion-color-header: #000000;
    --ion-color-header-rgb: 0, 0, 0;
    --ion-color-header-contrast: #f4f5f8;
    --ion-color-header-contrast-rgb: 255, 255, 255;
    --ion-color-header-shade: #000000;
    --ion-color-header-tint: #000000;

    --ion-color-no-data: #636363;
    --ion-color-no-data-rgb: 138, 138, 138;
    --ion-color-no-data-contrast: #ebebeb;
    --ion-color-no-data-contrast-rgb: 62, 62, 62;
    --ion-color-no-data-shade: #c2c2c2;
    --ion-color-no-data-tint: #e0e0e0;

    --ion-color-slide-primary: #000000;
    --ion-color-slide-primary-rgb: 0, 0, 0;
    --ion-color-slide-primary-contrast: #ffffff;
    --ion-color-slide-primary-contrast-rgb: 255, 255, 255;
    --ion-color-slide-primary-shade: #000000;
    --ion-color-slide-primary-tint: #1a1a1a;

    --ion-color-slide-secondary: #333333;
    --ion-color-slide-secondary-rgb: 51, 51, 51;
    --ion-color-slide-secondary-contrast: #ffffff;
    --ion-color-slide-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-slide-secondary-shade: #2d2d2d;
    --ion-color-slide-secondary-tint: #474747;

    --ion-color-company-logo: #000000;
    --ion-color-company-logo-rgb: 17, 17, 17;
    --ion-color-company-logo-contrast: #ffffff;
    --ion-color-company-logo-contrast-rgb: 255, 255, 255;
    --ion-color-company-logo-shade: #0f0f0f;
    --ion-color-company-logo-tint: #292929;

    --ion-card-background: #2a2a2a;
    --ion-toolbar-background: #0d0d0d;
    --ion-item-background: transparent !important;
    --ion-tab-bar-background: #1f1f1f;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-card-background: #2a2a2a;

    --ion-item-background: transparent !important;

    --ion-toolbar-background: #0d0d0d;

    --ion-tab-bar-background: #1f1f1f;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #111111;
    --ion-background-color-rgb: 1, 1, 1;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-card-background: #2a2a2a;

    --ion-item-background: transparent !important;

    --ion-toolbar-background: #0d0d0d;

    --ion-tab-bar-background: #1f1f1f;
  }
}

.app-loading {
  color: --ion-color-primary;
}

$theme-color-1: #06717e;
$theme-color-2: #002a56;
$theme-color-3: #5e5874;
$theme-color-4: #fafc98;

$theme-card-color-1: unquote("#D4DCDF85");
$theme-card-color-2: #626f76;
$theme-card-color-3: #ffd9a3;
$theme-card-color-4: #fba019;

$theme-ciudad-vina: #cc9a00;
$theme-ciudad-valparaiso: $theme-color-1;
$theme-ciudad-renaca: $theme-color-2;
$theme-ciudad-san-felipe: #cc1e00;
$theme-ciudad-santiago: #00c6cc;
